---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseInsensitive
SpaceBeforeCpp11BracedList: false
...
